In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_circuits = pd.read_csv('F1_sample/s_circuits.csv', encoding='latin-1')
df_constructors = pd.read_csv('F1_sample/s_constructors.csv', encoding='latin-1')
df_constructorResults = pd.read_csv('F1_sample/s_constructorResults.csv', encoding='latin-1')
df_constructorStandings = pd.read_csv('F1_sample/s_constructorStandings.csv', encoding='latin-1')
df_drivers = pd.read_csv('F1_sample/s_drivers.csv', encoding='latin-1')
df_driverStandings = pd.read_csv('F1_sample/s_driverStandings.csv', encoding='latin-1')
df_lapTimes = pd.read_csv('F1_sample/s_lapTimes.csv', encoding='latin-1')
df_pitStops = pd.read_csv('F1_sample/s_pitStops.csv', encoding='latin-1')
df_qualifying = pd.read_csv('F1_sample/s_qualifying.csv', encoding='latin-1')
df_races = pd.read_csv('F1_sample/s_races.csv', encoding='latin-1')
df_results = pd.read_csv('F1_sample/s_results.csv', encoding='latin-1')
df_seasons = pd.read_csv('F1_sample/s_seasons.csv', encoding='latin-1')
df_status =  pd.read_csv('F1_sample/s_status.csv', encoding='latin-1')

In [18]:
df_circuits.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
url            object
dtype: object

In [19]:
df_constructors.dtypes

constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

In [20]:
df_constructorResults.dtypes

constructorResultsId    int64
raceId                  int64
constructorId           int64
points                  int64
dtype: object

In [21]:
df_constructorStandings.dtypes

constructorStandingsId    int64
raceId                    int64
constructorId             int64
points                    int64
position                  int64
positionText              int64
wins                      int64
dtype: object

In [22]:
df_drivers.dtypes

driverId        int64
driverRef      object
number          int64
code           object
forename       object
surname        object
dob            object
nationality    object
url            object
dtype: object

In [23]:
df_driverStandings.dtypes

driverStandingsId    int64
raceId               int64
driverId             int64
points               int64
position             int64
positionText         int64
wins                 int64
dtype: object

In [24]:
df_lapTimes.dtypes

raceId       int64
driverId     int64
lap          int64
position     int64
time        object
dtype: object

In [25]:
df_pitStops.dtypes

raceId            int64
driverId          int64
stop              int64
lap               int64
time             object
duration        float64
milliseconds      int64
dtype: object

In [3]:
df_pitStops

   raceId  driverId  stop  lap      time  duration  milliseconds
0     860        18     1   16  17:28:30    23.275         23275
1     860         1     1   17  17:30:12    22.862         22862
2     860        18     2   36  17:59:44    22.837         22837
3     860         1     2   36  17:59:54    23.464         23464

In [26]:
df_qualifying.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [2]:
df_qualifying

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,4966,860,1,1,4,1,01:26.8,01:25.6,01:24.9
1,4967,860,18,1,3,2,01:26.8,01:25.7,01:25.1

In [27]:
df_races.dtypes

raceId        int64
year          int64
round         int64
circuitId     int64
name         object
date         object
time         object
url          object
dtype: object

In [28]:
df_results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number               int64
grid                 int64
position             int64
positionText         int64
positionOrder        int64
points               int64
laps                 int64
time                object
milliseconds         int64
fastestLap           int64
rank                 int64
fastestLapTime      object
fastestLapSpeed    float64
statusId             int64
dtype: object

In [29]:
df_seasons.dtypes

year     int64
url     object
dtype: object

In [30]:
df_status.dtypes

statusId     int64
status      object
dtype: object