In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_circuits = pd.read_csv('F1_sample/s_circuits.csv', encoding='latin-1')
df_constructors = pd.read_csv('F1_sample/s_constructors.csv', encoding='latin-1')
df_constructorResults = pd.read_csv('F1_sample/s_constructorResults.csv', encoding='latin-1')
df_constructorStandings = pd.read_csv('F1_sample/s_constructorStandings.csv', encoding='latin-1')
df_drivers = pd.read_csv('F1_sample/s_drivers.csv', encoding='latin-1')
df_driverStandings = pd.read_csv('F1_sample/s_driverStandings.csv', encoding='latin-1')
df_lapTimes = pd.read_csv('F1_sample/s_lapTimes.csv', encoding='latin-1')
df_pitStops = pd.read_csv('F1_sample/s_pitStops.csv', encoding='latin-1')
df_qualifying = pd.read_csv('F1_sample/s_qualifying.csv', encoding='latin-1')
df_races = pd.read_csv('F1_sample/s_races.csv', encoding='latin-1')
df_results = pd.read_csv('F1_sample/s_results.csv', encoding='latin-1')
df_seasons = pd.read_csv('F1_sample/s_seasons.csv', encoding='latin-1')
df_status =  pd.read_csv('F1_sample/s_status.csv', encoding='latin-1')

In [2]:
df_circuits.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
url            object
dtype: object

In [19]:
df_circuits

,circuitId,circuitRef,name,location,country,lat,lng,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,http://en.wikipedia.org/wiki/Melbourne_Grand_P...

In [3]:
df_constructors.dtypes

constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

In [4]:
df_constructorResults.dtypes

constructorResultsId    int64
raceId                  int64
constructorId           int64
points                  int64
dtype: object

In [5]:
df_constructorStandings.dtypes

constructorStandingsId    int64
raceId                    int64
constructorId             int64
points                    int64
position                  int64
positionText              int64
wins                      int64
dtype: object

In [18]:
df_drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,18,button,22,BUT,Jenson,Button,19/01/1980,British,http://en.wikipedia.org/wiki/Jenson_Button

In [7]:
df_driverStandings.dtypes

driverStandingsId    int64
raceId               int64
driverId             int64
points               int64
position             int64
positionText         int64
wins                 int64
dtype: object

In [8]:
df_lapTimes.dtypes

lapTimeId        int64
raceId           int64
driverId         int64
lap              int64
position         int64
time            object
milliseconds     int64
dtype: object

In [9]:
df_pitStops.dtypes

pitStopId         int64
raceId            int64
driverId          int64
stop              int64
lap               int64
time             object
duration        float64
milliseconds      int64
dtype: object

In [10]:
df_pitStops

   pitStopId  raceId  driverId  stop  lap      time  duration  milliseconds
0         10     860        18     1   16  17:28:30    23.275         23275
1         13     860         1     1   17  17:30:12    22.862         22862
2         27     860        18     2   36  17:59:44    22.837         22837
3         28     860         1     2   36  17:59:54    23.464         23464

In [11]:
df_qualifying.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [12]:
df_qualifying

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,4966,860,1,1,4,1,01:26.8,01:25.6,01:24.9
1,4967,860,18,1,3,2,01:26.8,01:25.7,01:25.1

In [13]:
df_races.dtypes

raceId        int64
year          int64
round         int64
circuitId     int64
name         object
date         object
time         object
url          object
dtype: object

In [14]:
df_results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number               int64
grid                 int64
position             int64
positionText         int64
positionOrder        int64
points               int64
laps                 int64
time                object
milliseconds         int64
fastestLap           int64
rank                 int64
fastestLapTime      object
fastestLapSpeed    float64
statusId             int64
dtype: object

In [15]:
df_seasons.dtypes

year     int64
url     object
dtype: object

In [16]:
df_status.dtypes

statusId     int64
status      object
dtype: object

In [17]:
# Checking uniques
# df_lapTimes
# df_pitStops
df = df_lapTimes
cols = list(df.columns)
for c in cols:
    if len(df[c].unique()) != len(df[c]):
        print(c)

raceId
driverId
lap
position
time
milliseconds

In [5]:
# Adding unique columns
df_name = "pitStops"
col = f"{df_name[:-1]}Id"
df = locals()[f"df_{df_name}"]

df[col] = np.arange(start=1, stop=len(df)+1)

df.head()

   pitStopId  raceId  driverId  stop  lap      time  duration  milliseconds
0          1     860        18     1   16  17:28:30    23.275         23275
1          2     860         1     1   17  17:30:12    22.862         22862
2          3     860        18     2   36  17:59:44    22.837         22837
3          4     860         1     2   36  17:59:54    23.464         23464

In [68]:
# Saving DataFrames
df.to_csv(f"F1_data/{df_name}.csv", index=False)