In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_circuits = pd.read_csv('F1_data/circuits.csv', encoding='latin-1')
df_constructors = pd.read_csv('F1_data/constructors.csv', encoding='latin-1')
df_constructorResults = pd.read_csv('F1_data/constructorResults.csv', encoding='latin-1')
df_constructorStandings = pd.read_csv('F1_data/constructorStandings.csv', encoding='latin-1')
df_drivers = pd.read_csv('F1_data/drivers.csv', encoding='latin-1')
df_driverStandings = pd.read_csv('F1_data/driverStandings.csv', encoding='latin-1')
df_lapTimes = pd.read_csv('F1_data/lapTimes.csv', encoding='latin-1')
df_pitStops = pd.read_csv('F1_data/pitStops.csv', encoding='latin-1')
df_qualifying = pd.read_csv('F1_data/qualifying.csv', encoding='latin-1')
df_races = pd.read_csv('F1_data/races.csv', encoding='latin-1')
df_results = pd.read_csv('F1_data/results.csv', encoding='latin-1')
df_seasons = pd.read_csv('F1_data/seasons.csv', encoding='latin-1')
df_status =  pd.read_csv('F1_data/status.csv', encoding='latin-1')

In [6]:
df_races.head()

,raceId,year,round,circuitId,name,date,time,url
0,860,2012,1,1,Australian Grand Prix,18/03/2012,06:00:00,http://en.wikipedia.org/wiki/2012_Australian_G...
1,861,2012,2,2,Malaysian Grand Prix,25/03/2012,08:00:00,http://en.wikipedia.org/wiki/2012_Malaysian_Gr...
2,862,2012,3,17,Chinese Grand Prix,15/04/2012,07:00:00,http://en.wikipedia.org/wiki/2012_Chinese_Gran...
3,863,2012,4,3,Bahrain Grand Prix,22/04/2012,12:00:00,http://en.wikipedia.org/wiki/2012_Bahrain_Gran...
4,864,2012,5,4,Spanish Grand Prix,13/05/2012,12:00:00,http://en.wikipedia.org/wiki/2012_Spanish_Gran...

In [7]:
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,21232,860,18,1,3,2,1.0,1,1,25,58,34:09.6,5649565.0,56.0,1,01:29.2,214.053,1
1,21233,860,20,9,1,6,2.0,2,2,18,58,2.139,5651704.0,57.0,2,01:29.4,213.503,1
2,21234,860,1,1,4,1,3.0,3,3,15,58,4.075,5653640.0,57.0,4,01:29.5,213.214,1
3,21235,860,17,9,2,5,4.0,4,4,12,58,4.547,5654112.0,57.0,3,01:29.4,213.452,1
4,21236,860,4,6,5,12,5.0,5,5,10,58,21.565,5671130.0,52.0,7,01:30.3,211.469,1

In [3]:
df_circuits.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
alt           float64
url            object
dtype: object

In [4]:
df_circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968000,10.0,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738000,NaN,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.510600,NaN,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.261110,NaN,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,6,monaco,Circuit de Monaco,Monte-Carlo,Monaco,43.73470,7.420560,NaN,http://en.wikipedia.org/wiki/Circuit_de_Monaco
5,7,villeneuve,Circuit Gilles Villeneuve,Montreal,Canada,45.50000,-73.522800,NaN,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
6,9,silverstone,Silverstone Circuit,Silverstone,UK,52.07860,-1.016940,NaN,http://en.wikipedia.org/wiki/Silverstone_Circuit
7,10,hockenheimring,Hockenheimring,Hockenheim,Germany,49.32780,8.565830,NaN,http://en.wikipedia.org/wiki/Hockenheimring
8,11,hungaroring,Hungaroring,Budapest,Hungary,47.57890,19.248600,NaN,http://en.wikipedia.org/wiki/Hungaroring
9,12,valencia,Valencia Street Circuit,Valencia,Spain,39.45890,-0.331667,NaN,http://en.wikipedia.org/wiki/Valencia_Street_C...
10,13,spa,Circuit de Spa-Francorchamps,Spa,Belgium,50.43720,5.971390,NaN,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
11,14,monza,Autodromo Nazionale di Monza,Monza,Italy,45.61560,9.281110,NaN,http://en.wikipedia.org/wiki/Autodromo_Naziona...
12,15,marina_bay,Marina Bay Street Circuit,Marina Bay,Singapore,1.29140,103.864000,NaN,http://en.wikipedia.org/wiki/Marina_Bay_Street...
13,17,shanghai,Shanghai International Circuit,Shanghai,China,31.33890,121.220000,NaN,http://en.wikipedia.org/wiki/Shanghai_Internat...
14,18,interlagos,AutÌ_dromo JosÌ© Carlos Pace,SÌ£o Paulo,Brazil,-23.70360,-46.699700,NaN,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...
15,20,nurburgring,NÌ_rburgring,NÌ_rburg,Germany,50.33560,6.947500,NaN,http://en.wikipedia.org/wiki/N%C3%BCrburgring
16,22,suzuka,Suzuka Circuit,Suzuka,Japan,34.84310,136.541000,NaN,http://en.wikipedia.org/wiki/Suzuka_Circuit
17,24,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.46720,54.603100,NaN,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
18,32,rodriguez,AutÌ_dromo Hermanos RodrÌ_guez,Mexico City,Mexico,19.40420,-99.090700,NaN,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_He...
19,35,yeongam,Korean International Circuit,Yeongam County,Korea,34.73330,126.417000,NaN,http://en.wikipedia.org/wiki/Korean_Internatio...
20,68,buddh,Buddh International Circuit,Uttar Pradesh,India,28.34870,77.533100,NaN,http://en.wikipedia.org/wiki/Buddh_Internation...
21,69,americas,Circuit of the Americas,Austin,USA,30.13280,-97.641100,NaN,http://en.wikipedia.org/wiki/Circuit_of_the_Am...
22,70,red_bull_ring,Red Bull Ring,Spielburg,Austria,47.21970,14.764700,NaN,http://en.wikipedia.org/wiki/Red_Bull_Ring
23,71,sochi,Sochi Autodrom,Sochi,Russia,43.40570,39.957800,NaN,http://en.wikipedia.org/wiki/Sochi_Autodrom
24,73,BAK,Baku City Circuit,Baku,Azerbaijan,40.37250,49.853300,NaN,http://en.wikipedia.org/wiki/Baku_City_Circuit

In [5]:
df_constructors.dtypes

constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

In [4]:
df_constructorResults.dtypes

constructorResultsId    int64
raceId                  int64
constructorId           int64
points                  int64
dtype: object

In [5]:
df_constructorStandings.dtypes

constructorStandingsId    int64
raceId                    int64
constructorId             int64
points                    int64
position                  int64
positionText              int64
wins                      int64
dtype: object

In [18]:
df_drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,18,button,22,BUT,Jenson,Button,19/01/1980,British,http://en.wikipedia.org/wiki/Jenson_Button

In [13]:
df_driverStandings

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,64999,860,39,0,24,24,0
1,64997,860,807,0,22,22,0
2,64995,860,30,0,20,20,0
3,64993,860,5,0,18,18,0
4,64991,860,811,0,16,16,0
5,64989,860,10,0,14,14,0
6,64987,860,3,0,12,12,0
7,64998,860,37,0,23,23,0
8,64996,860,154,0,21,21,0
9,64994,860,808,0,19,19,0
10,64992,860,13,0,17,17,0
11,64990,860,819,0,15,15,0
12,64988,860,813,0,13,13,0
13,64986,860,818,0,11,11,0
14,64985,860,814,1,10,10,0
15,64984,860,817,2,9,9,0
16,64983,860,815,4,8,8,0
17,64982,860,8,6,7,7,0
18,64981,860,155,8,6,6,0
19,64980,860,4,10,5,5,0
20,64979,860,17,12,4,4,0
21,64978,860,1,15,3,3,0
22,64977,860,20,18,2,2,0
23,64976,860,18,25,1,1,1
24,64928,861,18,25,3,3,1
25,64929,861,20,18,6,6,0
26,64930,861,1,30,2,2,0
27,64931,861,17,24,4,4,0
28,64932,861,4,35,1,1,1
29,64933,861,155,8,9,9,0
...,...,...,...,...,...,...,...
2652,68579,987,836,5,18,18,0
2653,68580,987,18,0,24,24,0
2654,68581,987,814,0,25,25,0
2655,68582,987,842,0,21,21,0
2656,68583,987,843,0,23,23,0
2657,68584,988,20,317,2,2,5
2658,68585,988,1,363,1,1,9
2659,68586,988,822,305,3,3,3
2660,68587,988,8,205,4,4,0
2661,68588,988,830,168,6,6,2
2662,68589,988,13,43,11,11,0
2663,68590,988,815,100,7,7,0
2664,68591,988,832,54,9,9,0
2665,68592,988,826,5,19,19,0
2666,68593,988,839,87,8,8,0
2667,68594,988,807,43,10,10,0
2668,68595,988,841,0,22,22,0
2669,68596,988,838,13,16,16,0
2670,68597,988,4,17,15,15,0
2671,68598,988,825,19,14,14,0
2672,68599,988,840,40,12,12,0
2673,68600,988,817,200,5,5,1
2674,68601,988,828,0,20,20,0
2675,68602,988,835,8,17,17,0
2676,68603,988,154,28,13,13,0
2677,68604,988,836,5,18,18,0
2678,68605,988,18,0,24,24,0
2679,68606,988,814,0,25,25,0
2680,68607,988,842,0,21,21,0
2681,68608,988,843,0,23,23,0

In [12]:
df_lapTimes['time'] = df_lapTimes
df_lapTimes

        lapTimeId  raceId  driverId  lap  position    time  milliseconds
0               1     860        18    1         1       1         99264
1               2     860        18    2         1       2         93414
2               3     860        18    3         1       3         93350
3               4     860        18    4         1       4         93131
4               5     860        18    5         1       5         92984
5               6     860        18    6         1       6         93117
6               7     860        18    7         1       7         93244
7               8     860        18    8         1       8         93124
8               9     860        18    9         1       9         93394
9              10     860        18   10         1      10         93767
10             11     860        18   11         1      11         93985
11             12     860        18   12         1      12         93628
12             13     860        18   13         1      13         93970
13             14     860        18   14         1      14         94164
14             15     860        18   15         1      15         94645
15             16     860        18   16         2      16        114021
16             17     860        18   17         1      17         99358
17             18     860        18   18         1      18         93348
18             19     860        18   19         1      19         93300
19             20     860        18   20         1      20         92880
20             21     860        18   21         1      21         92903
21             22     860        18   22         1      22         93141
22             23     860        18   23         1      23         92840
23             24     860        18   24         1      24         92701
24             25     860        18   25         1      25         92760
25             26     860        18   26         1      26         92152
26             27     860        18   27         1      27         91943
27             28     860        18   28         1      28         91788
28             29     860        18   29         1      29         91813
29             30     860        18   30         1      30         91812
...           ...     ...       ...  ...       ...     ...           ...
133788     133789     988       825   25        19  133789        104785
133789     133790     988       825   26        19  133790        104990
133790     133791     988       825   27        18  133791        104948
133791     133792     988       825   28        18  133792        107108
133792     133793     988       825   29        17  133793        105242
133793     133794     988       825   30        16  133794        104898
133794     133795     988       825   31        14  133795        105060
133795     133796     988       825   32        13  133796        104541
133796     133797     988       825   33        13  133797        104706
133797     133798     988       825   34        13  133798        107157
133798     133799     988       825   35        13  133799        104641
133799     133800     988       825   36        13  133800        104755
133800     133801     988       825   37        13  133801        104395
133801     133802     988       825   38        13  133802        104497
133802     133803     988       825   39        13  133803        106834
133803     133804     988       825   40        13  133804        107053
133804     133805     988       825   41        13  133805        104368
133805     133806     988       825   42        13  133806        104266
133806     133807     988       825   43        13  133807        104196
133807     133808     988       825   44        13  133808        104280
133808     133809     988       825   45        13  133809        104781
133809     133810     988       825   46        13  133810        104348
133810     133811     988       825   47        13  133811        104038
133811     133812     988       825   48        13  133812        104303
133812     133813     988       825   49        13  133813        104171
133813     133814     988       825   50        13  133814        103928
133814     133815     988       825   51        13  133815        104138
133815     133816     988       825   52        13  133816        103934
133816     133817     988       825   53        13  133817        104164
133817     133818     988       825   54        13  133818        104285

[133818 rows x 7 columns]

In [9]:
df_pitStops.dtypes

pitStopId         int64
raceId            int64
driverId          int64
stop              int64
lap               int64
time             object
duration        float64
milliseconds      int64
dtype: object

In [10]:
df_pitStops

   pitStopId  raceId  driverId  stop  lap      time  duration  milliseconds
0         10     860        18     1   16  17:28:30    23.275         23275
1         13     860         1     1   17  17:30:12    22.862         22862
2         27     860        18     2   36  17:59:44    22.837         22837
3         28     860         1     2   36  17:59:54    23.464         23464

In [11]:
df_qualifying.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [12]:
df_qualifying

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,4966,860,1,1,4,1,01:26.8,01:25.6,01:24.9
1,4967,860,18,1,3,2,01:26.8,01:25.7,01:25.1

In [13]:
df_races.dtypes

raceId        int64
year          int64
round         int64
circuitId     int64
name         object
date         object
time         object
url          object
dtype: object

In [14]:
df_results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number               int64
grid                 int64
position             int64
positionText         int64
positionOrder        int64
points               int64
laps                 int64
time                object
milliseconds         int64
fastestLap           int64
rank                 int64
fastestLapTime      object
fastestLapSpeed    float64
statusId             int64
dtype: object

In [15]:
df_seasons.dtypes

year     int64
url     object
dtype: object

In [11]:
df_status

     statusId            status
0           1          Finished
1           2      Disqualified
2           3          Accident
3           4         Collision
4           5            Engine
5           6           Gearbox
6           7      Transmission
7           8            Clutch
8           9        Hydraulics
9          10        Electrical
10         11            +1 Lap
11         12           +2 Laps
12         13           +3 Laps
13         14           +4 Laps
14         15           +5 Laps
15         16           +6 Laps
16         17           +7 Laps
17         18           +8 Laps
18         19           +9 Laps
19         20          Spun off
20         21          Radiator
21         22        Suspension
22         23            Brakes
23         24      Differential
24         25       Overheating
25         26        Mechanical
26         27              Tyre
27         28       Driver Seat
28         29          Puncture
29         30        Driveshaft
..        ...               ...
104       105       Spark plugs
105       106         Fuel pipe
106       107        Eye injury
107       108          Oil pipe
108       109              Axle
109       110        Water pipe
110       111          +14 Laps
111       112          +15 Laps
112       113          +25 Laps
113       114          +18 Laps
114       115          +22 Laps
115       116          +16 Laps
116       117          +24 Laps
117       118          +29 Laps
118       119          +23 Laps
119       120          +21 Laps
120       121           Magneto
121       122          +44 Laps
122       123          +30 Laps
123       124          +19 Laps
124       125          +46 Laps
125       126      Supercharger
126       127          +20 Laps
127       130  Collision damage
128       131        Power Unit
129       132               ERS
130       133          +49 Laps
131       134          +38 Laps
132       135        Brake duct
133       136              Seat

[134 rows x 2 columns]

In [17]:
# Checking uniques
# df_lapTimes
# df_pitStops
df = df_lapTimes
cols = list(df.columns)
for c in cols:
    if len(df[c].unique()) != len(df[c]):
        print(c)

raceId
driverId
lap
position
time
milliseconds

In [5]:
# Adding unique columns
df_name = "pitStops"
col = f"{df_name[:-1]}Id"
df = locals()[f"df_{df_name}"]

df[col] = np.arange(start=1, stop=len(df)+1)

df.head()

   pitStopId  raceId  driverId  stop  lap      time  duration  milliseconds
0          1     860        18     1   16  17:28:30    23.275         23275
1          2     860         1     1   17  17:30:12    22.862         22862
2          3     860        18     2   36  17:59:44    22.837         22837
3          4     860         1     2   36  17:59:54    23.464         23464

In [68]:
# Saving DataFrames
df.to_csv(f"F1_data/{df_name}.csv", index=False)